.gender {    
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;     
}

.playerForm h3 {
    padding-bottom: 20px;
}
.delete {
    margin-left: 10px;
}
.mat-elevation-z8{
    width: 1200px;
    margin-bottom: 30px;
}
.box h2 {
    float:left;
}
.box div a {
    float:right;
}