.sidenav-container {
  height: 100%;
}  
.sidenav {
  width: 200px;
}  
.sidenav .mat-toolbar {
  background: inherit;
}  
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#container {
  padding:20px;
  margin:20px;
} 
.content {
  display: flex;
  margin: 0 auto 0;
  padding: 0 16px;
  flex-direction: column;
}

